<div xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic (~{::main})}">
	<main id="main" ng-controller="ForgotPassword-ctrl">

		<!-- Breadcrumb Section Begin -->
		<div class="breacrumb-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-text">
							<a href="#"><i class="fa fa-home"></i> Home</a> <span>Register</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb Form Section Begin -->

		<!-- Register Section Begin -->
		<div class="register-login-section spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="register-form">
							<h2>Forgot password</h2>
							<form  action="/forgotpassword/check">
								 <div class="group-input">
									<label for="username">Username*</label> <input
										type="text" id="username" name="username" > <br>
									 <i class="text-danger" th:text="${checkUsername}"></i>
								</div> 
								
							 
								
								<div class="group-input">
									<label for="email">Email *</label> <input
										type="email" id="email"  name="email"><br>
									<i class="text-danger"  th:text="${checkEmail}"></i>
								</div>
                                
								<i class="pull-left text-danger" th:text="${message}"></i>
								<button type="submit" class="site-btn register-btn mt-3" >Forgot</button>
							</form>
							<div class="switch-login">
								<a href="/security/login/form" class="or-login">Or Login</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Register Form Section End -->

	</main>
</div>