
<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản Lý /</span> Quản Lý Hình Ảnh Sản Phẩm</h4>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active " id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
              role="tab" aria-controls="home" aria-selected="true">Quản Lý Hình Ảnh</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab"
              aria-controls="all" aria-selected="false">Danh Sách Hình Ảnh Của Sản Phẩm</button>
          </li>
           <li class="nav-item" role="presentation">
                      <button class="nav-link" id="use-tab" data-bs-toggle="tab" data-bs-target="#use" type="button" role="tab" aria-controls="use" aria-selected="false">Danh Sách Tất Cả Hình</button>
                    </li> 
        </ul>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-12">
                <div class="card mb-4">
                  <h5 class="card-header">THÔNG TIN SẢN PHẨM</h5>
                  <hr class="my-0" />
                  <div class="card-body">
                    <form id="formAccountSettings" method="POST">
                      <div class="mb-3 col-md-6">
                        <img ng-src="{{'/Admin/assets/img/products-main/'+form.imagepath}}" alt="product-image"
                          class="d-block rounded" width="50%" for="image" />
                      </div>
                      <div class="row">
                        <div class="mb-3 col-md-12">
                          <label class="form-label" for="">Mã Hình Ảnh</label>
                          <input ng-model="form.additionalimagesid" class="form-control" type="number" disabled>
                        </div>
                        <div class="mb-3 col-md-12">
                          <label for="image" class="form-label">Hình Sản Phẩm</label>
                          <input type="file" ng-model="form.imagepath" class="form-control" id="image"
                            onchange="angular.element(this).scope().imageChanged(this.files)">
                        </div>
                        <div class="mb-3 col-md-12">
                          <label for="" class="form-label">Sản Phẩm (*)</label>
                          <select class="form-control" ng-model="form.product.productid">
                            <option ng-repeat="p in products" ng-value="p.productid">{{p.productname}}</option> -->
                          </select>
                        </div>
                      </div>
                      <div class="mt-2">
                        <button ng-click="create()" class="btn btn-primary me-2">Save</button>
                        <button ng-click="update()" class="btn btn-success me-2">Update</button>
                        <button ng-click="delete(form)" class="btn btn-danger me-2">Delete</button>
                        <button ng-click="reset()" class="btn btn-outline-secondary">Refresh</button>
                      </div>
                    </form>
                  </div>
                  <!-- /Account -->
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">
            <div class="row">
              <div class="mb-3 col-md-12">
                <label for="" class="form-label">Sản Phẩm</label>
                <select class="form-control" ng-change="change(p.productid)" ng-model="p.productid">
                  <option ng-repeat="p in products" ng-value="p.productid" >{{p.productname}}</option> -->
                </select>
              </div>
            </div>
            <div class="row bg-light">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Mã</th>
                    <th>Hình Ảnh</th>
                    <th>Sản Phẩm</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in itemimgs">
                    <td>{{item.additionalimagesid}}</td>
                    <td>{{item.imagepath}}</td>
                    <td>{{item.product.productname}}</td>
                    <td>
                      <div class="dropdown">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                          <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="" ng-click="edit(item)"><i class="bx bx-edit-alt me-1"></i>
                            Edit</a>
                          <a class="dropdown-item" href="" ng-click="delete(item)"><i class="bx bx-trash me-1"></i>
                            Delete</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <nav aria-label="Page navigation example" class="mt-3 mx-auto"
              style="display: flex; align-items: center; justify-content: center;">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link bg-primary text-white fw-bold" href="" aria-label="First Page"
                    ng-click="pager.first()">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link bg-light fw-bold" href="" ng-click="pager.prev()">Previous
                    Page</a></li>
                <li class="page-item"><a class="page-link bg-light fw-bold" href="">{{pager.page+1}} of
                    {{pager.count}}</a></li>
                <li class="page-item"><a class="page-link bg-light fw-bold" href="" ng-click="pager.next()">Next
                    Page</a>
                </li>
                <li class="page-item">
                  <a class="page-link bg-primary text-white fw-bold" ng-click="pager.last()" aria-label="Last Page">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="tab-pane fade" id="use" role="tabpanel" aria-labelledby="use-tab">
            <div class="row bg-light">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Mã Hình Ảnh</th>
                    <th>Hình Ảnh</th>
                    <th>Mã Sản Phẩm</th>
                    <th>Sản Phẩm</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="items in items">
                    <td>{{items.additionalimagesid}}</td>
                    <td>{{items.imagepath}}</td>
                    <td>{{items.product.productid}}</td>
                    <td>{{items.product.productname}}</td>
                    <td>
                      <div class="dropdown">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                          <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="" ng-click="edit(items)"><i class="bx bx-edit-alt me-1"></i>
                            Edit</a>
                          <a class="dropdown-item" href="" ng-click="delete(items)"><i class="bx bx-trash me-1"></i>
                            Delete</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <nav aria-label="Page navigation example" class="mt-3 mx-auto"
              style="display: flex; align-items: center; justify-content: center;">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link bg-primary text-white fw-bold" href="" aria-label="First Page"
                    ng-click="pager.first()">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link bg-light fw-bold" href="" ng-click="pager.prev()">Previous
                    Page</a></li>
                <li class="page-item"><a class="page-link bg-light fw-bold" href="">{{pager.page+1}} of
                    {{pager.count}}</a></li>
                <li class="page-item"><a class="page-link bg-light fw-bold" href="" ng-click="pager.next()">Next
                    Page</a></li>
                <li class="page-item">
                  <a class="page-link bg-primary text-white fw-bold" ng-click="pager.last()" aria-label="Last Page">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
