:root{
    --primary-color: rgb(23,162,184);
}

.modal1{
	position: fixed;
    top:0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.6);
    z-index:1;
}
.star-widget .rowItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

.star-widget input{
    display: none;
}

.star-widget .rowItem label {
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}

input#rate-1:checked ~ label {
    color: #fd4;
}

input#rate-2:checked ~ label {
    color: #fd4;
}

input#rate-3:checked ~ label {
    color: #fd4;
}

input#rate-4:checked ~ label {
    color: #fd4;
}

input#rate-5:checked ~ label {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}


input:checked ~ form {
    display: block;
}


form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea {
    height: 100%;
    width: 100%;
    outline: none;
    border: 2px solid #333333;
    background: #FFFFCC;
    padding: 10px;
    font-size: 17px;
    color: #333333;
    resize: none;
    border-radius: 5px;
    font-weight: bold;
}


.modal1{
    position: fixed;
    top:0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
}
.modal1_inner{
    width: 700px;
    position: relative;
    top: 20%;
    margin: auto;
    background: white;
    border-radius: 5px;
    overflow: hidden; /*---------------------------------------*/
    animation: modalShow 0.2s linear;
}

.modal1_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: var(--primary-color);
    color: white;
}

.modal1_header p{
	line-height: 15px;
	margin: 0;
	color: white;
	font-weight: bold;
}
.modal1_header a{
	line-height: 15px;
    color: white;
}

.modal1_body{
    padding: 15px;
}

.modal1_body p{
    color: var(--primary-color);
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

.modal1_footer{
    padding: 15px;
    text-align: right;
}

.modal1_footer button{
    padding: 10px 20px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

/* ---- class ẩn để hiện modal1---------*/
.hide{
    display: none;
}

.hashtag{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.hashtag a{
    text-decoration: none;
    padding: 10px 9px;
    background: #FFFFCC;
    margin-right: 4px;
    color: #333333;
    border-radius: 3px;
    font-weight: 500;
    border: 1px solid #333333;
    font-weight: bold;
}

.wrapper1{
    max-width: 1000px;
    margin: auto;
}
.tab-wrapper1{
    text-align: center;
    display: block;
    max-width: 1000px;
}
.tabs1{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.tab-link1{
    margin: 0 1%;
    list-style: none;
    padding: 10px 40px;
    color: #aaa;
    cursor: pointer;
    font-weight: bold;
    transition: all ease 0.5s;
    border-bottom: solid 3px rgba(255,255,255,0.0);
    letter-spacing: 1px;
    font-size: 16px;
}
.tab-link1:hover{
    color: #999;
    border-color: #999;
}
.tab-link1.active{
    color: #333;
    border-color: #333;
}
.tab-link1:nth-of-type(1).active{
    color: #EE6534;
    border-color: #EE6534;
}
.tab-link1:nth-of-type(2).active{
    color: #1790D2;
    border-color: #1790D2;
}
.tab-link1:nth-of-type(3).active{
    color: #EEC63B;
    border-color: #EEC63B;
}

.tab-link1:nth-of-type(4).active{
    color: red;
    border-color: red;
}
.content-wrapper1{
    padding: 10px 50px;
}
.tab-content1{
    display: none;
    text-align: center;
    color: #888;
    font-weight: 300;
    font-size: 16px;
    opacity: 0;
    transform: translateY(15px);
    animation: fadeIn 0.5s ease 1 forwards;
}
.tab-content1.active{
    display: block;
}

@keyframes fadeIn{
    100%{
        opacity: 1;
        transform: none;
    }
}

/*------ animation-------------*/
@keyframes modalShow {
    from{
        top: -200px;
        opacity: 0;
    }

    to{
        top: 40%;
        opacity: 1;
    }
}