<div xmlns:th="http://www.thymeleaf.org" >
	<div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img th:src="@{/img/logo-carousel/logo-1.png}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img th:src="@{/img/logo-carousel/logo-2.png}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                       <img th:src="@{/img/logo-carousel/logo-3.png}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img th:src="@{/img/logo-carousel/logo-4.png}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img th:src="@{/img/logo-carousel/logo-5.png}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End --  fonts/ >
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="#"><img style="margin-top: -90px;margin-bottom: -120px" th:src="@{/img/logo/logoFooter.png}" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: Lô 42 Tòa nhà Inovation, Công viên phần mềm Quang Trung, P. Tân Thới Hiệp, Q. 12, TPHCM</li>
                            <li>Phone: +84 34606454</li>
                            <li>Email: polystore.gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-around">
                    <div class="footer-widget">
                        <h5>[(#{footer.MyAccount})]</h5>
                        <ul>
                            <li><a href="/account">[(#{footer.MyAccount})]</a></li>
                            <li><a href="/contact">[(#{footer.Contact})]</a></li>
                            <li><a href="/cart">[(#{footer.ShoppingCart})]</a></li>
                            <li><a href="/product/list">[(#{footer.Shop})]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>[(#{footer.JoinOurNewsletterNow})]</h5>
                        <p>[(#{footer.GetE-mailupdatesaboutourlatestshopandspecialoffers})]</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Enter Your Mail">
                            <button type="button">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
       
    </footer>
</div>
