
<div class="nav-item bg-dark"  xmlns:th="http://www.thymeleaf.org" >
            <div class=" container" ng-controller="menuHeader-ctrl">
                <div class="row">
                    <div class="nav-depart ">
                        <div class="depart-btn bg-info" style="height: 51px">
                            <i class="ti-menu"></i>
                            <span>[(#{menu.category})]</span>
                            <ul class="depart-hover ">
                                <li ng-repeat="catess in itemscategorys"><a ng-click="getCategory(catess.categoryid)" class="cates-tab" style="cursor: pointer" >{{catess.categoryname}}</a> </li>
                            </ul>

                        </div>
                    </div>
                    <style>
                        .nav-menu li:hover a{
                            background-color:   rgb(23,162,184)  !important;
                        }
                        .depart-btn a:hover {
                            color:   rgb(2, 75, 221)  !important;
                            
                        }
                        .depart-btn a {
                            font-weight: 500;                            
                        }
                    </style>
                    <!-- <nav > -->
                        <ul class="nav-menu mobile-menu col-10 row" style="width: 800px" >
                            <li class="col-3" style="margin-left: -14px;" ><a style="width: 100% ;text-align: center;"  href="/product/list">[(#{menu.shop})]</a></li>
                            <li class="col-3" style="margin-left:-30px;"  ><a style="width: 100% ;text-align: center;"  href="/home">[(#{menu.home})]</a></li>
                            <li class="col-3" style="margin-left:-30px;" ><a style="width: 100% ; text-align: center;" href="/cart">Cart</a></li>
                            <li class="col-3" style="margin-left:-30px;" ><a style="width: 100% ; text-align: center;" href="/contact">[(#{menu.contact})]</a></li>
                        </ul>
                    <!-- </nav> -->
                </div>
               
            </div>
        </div>